$background-color: #212121;
$color: #ff6a00;

//mixin

@mixin flex($justify-content , $align-items){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}
